option:disabled, option:checked:disabled {
    color: #666666;
}

a, a:visited, h1, label, .homeTitle {
    color: #D0677E;
}

a:hover, .header a:hover, #resultList a:hover, .link-button:hover {
    color: #edc7b7;
    text-decoration: underline;
}

input, select, button {
    background-color: #eee2dc;
    color: #123D6A;
}

#error, #errorClient {
    color: #F94E4E;
}

body {
    background-color: #000000;
    color: #D0677E;
}

.message {
    color: #0FDB00;
}
