.search{
    text-align: center;
    color: #AC3B61;
    font-weight: 100; 
    margin-top:50px;
}

label {
    line-height: 150%;
    color: #AC3B61;
    padding-right: 10px;
}

input, select, button {
    background-color:#bc919f;
}

.searchTypeOption {
    margin-bottom:20px;
}

ul {
    text-align: center;
    list-style: none;
}

#resultList a,a:visited{
    text-decoration: none;
}

#resultList a:hover {
    color: #123D6A;
}