.search{
    text-align: center;
    font-weight: 100; 
    margin-top:50px;
}

label {
    line-height: 150%;
    padding-right: 10px;
}

.searchTypeOption {
    margin-bottom:20px;
}

ul {
    text-align: center;
    list-style: none;
}

#resultList a,a:visited{
    text-align: center;
    text-decoration: none;
}
