<div>
  <h1>Edit post</h1>
  <form id="post" method="post">
      <label for = "newTitle">New Post Title:</label>
      <input placeholder="{{postTitle}}"type="text" id="newTitle" name="newTitle" style="height: 25px">
      <label for = "newText">New Post Description:</label>
      <input placeholder="{{postText}}"type="text" id="newText" name="newText" class="bigText" style="height: 25px">
      <button type="submit" id="submit">Submit</button>
      <a href="/business/{{business._id}}" class="small-link">Cancel</a>
  </form>
</div>