<div>
    <h1>Create a post</h1>
    <form id="post" method="post">
        <label for = "postTitle">Post Title</label>
        <input type="text" id="postTitle" name="postTitle">
        <label for = "postImage">Image URL</label>
        <input type="text" id="postImage" name="postImage">
        <label for = "postText">Post Text</label>
        <input type="text" id="postText" name="postText" class="bigText">
        <button type="submit" id="submit">Submit</button>
    </form>
</div>