<div>
    <h1>Write a review</h1>
    <p id="errorClient" hidden></p>
    <form id="review" method="post" action="/business/{{business._id}}/review">
        <div class="slidecontainer">
            <label for="ratingRange">Please rate {{business.username}}</label>
            <input type="range" min="1" max="10" value="5" id="ratingRange" name="ratingRange">
            <p>Value: <span id="ratingValue"></span></p>
        </div>
        <label for = "reviewText">Please write your review</label>
        
        <input type="text" id="reviewText" maxlength="500" placeholder="Review Text" name="reviewText" class="bigText"  value="{{reviewText}}">
        <button type="submit" id="submit">Submit</button>
        <a href="/business/{{business._id}}" class="small-link">Cancel</a>
    </form>
</div>
<script src="/public/js/validation.js"></script>
<script src="/public/js/business.js"></script>