<div class="favorites">
   <h1>{{{username}}}'s favorite businesses</h1>
   <ul class="favoriteBiz">
    <!--This assumes that you are passing an array of business names, which you get from the backend -->
       {{#each business}}
         <li class="favorite-li"><a href = "/{{this.businessId}}"> {{this.businessName}} </a></li>
       {{/each}}
   </ul>
</div>