<div class="favorites">
   <h1>{{{username}}}'s favorite businesses</h1>
   <ul class="favoriteBusiness">
    <!--This assumes that you are passing an array of business names, which you get from the backend -->
       {{#each business}}
         <li class="favoriteBiz"><a href = "/business/{{this._id}}"> {{this.username}} </a></li>
       {{/each}}
   </ul>
</div>