<!-- Authors @ Cavin & Noah -->
    <h1>User Login</h1><br>    
<div class="login">    
    <form id="loginForm" method="Post">    
        <label for="userType">I am a: </label>
        <select name="userType" id="userType">
            <option value="" disabled selected >Select an option</option>
            <option value="User">User</option>
            <option value="Business">Business</option>
        </select>
        <br><br>
        <label for="username"> Username </label>    
            <input type="text" name="username" id="username" placeholder="Username">    
        <br><br>    
        <label for="password"> Password </label>    
            <input type="password" name="password" id="password" placeholder="Password">    
        <br><br>
        <button type="submit" name="login" id="loginButton" value="Log In">Submit</button>       
    </form>
</div>    